version: 2.1

orbs:
  node: circleci/node@5.2.0

jobs:
  release:
    docker:
      - image: cimg/node:20.18@sha256:778e45b58d291463fa9ba25bc15d66a42cc36a57345e0c7e6e1fa73bf6723ab3
    steps:
      - checkout
      - restore_cache:
          name: Restore pnpm Package Cache
          keys:
            - pnpm-packages-{{ checksum "pnpm-lock.yaml" }}
      - run:
          name: Install Dependencies
          command: pnpm install
      - save_cache:
          name: Save pnpm Package Cache
          key: pnpm-packages-{{ checksum "pnpm-lock.yaml" }}
          paths:
            - .pnpm-store
      - run:
          name: Release
          command: pnpm semantic-release

workflows:
  test_and_release:
    jobs:
      - node/test:
          override-ci-command: pnpm install
          run-command: test:ci
          test-results-path: test-report.xml
          matrix:
            parameters:
              version:
                - '18.20'
                - '20.12'
      - release:
          requires:
            - node/test
